body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(54, 54, 54);

    select{
        margin-top: 60px;
    }
    table {
        border-collapse: collapse;
        margin-top: 30px;

        td {
            text-align: center;
            padding: 10px;
            border: 1px solid rgb(242, 242, 242);
            color: white;

        }
    }
}