body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: rgb(54, 54, 54);
}
body select {
  margin-top: 60px;
}
body table {
  border-collapse: collapse;
  margin-top: 30px;
}
body table td {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(242, 242, 242);
  color: white;
}